{% load static i18n component_tags adminlte %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en' }}" dir="{% if adminlte.layout_rtl %}rtl{% else %}ltr{% endif %}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% adminlte_title %}{% endblock %}</title>
    {% block adminlte_assets %}
        {% if adminlte.assets_mode == "static" %}
            {% include "adminlte/partials/_assets_prebuilt.html" %}
        {% else %}
            {% include "adminlte/partials/_assets_vite.html" %}
        {% endif %}
    {% endblock %}
    {% component_css_dependencies %}
    {% block extra_css %}{% endblock %}
</head>
<body class="{% block body_class %}login-page{% endblock %} bg-body-secondary">
    <div class="{% block box_class %}login-box{% endblock %}">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="/" class="h1">{{ adminlte.logo|adminlte_safe }}</a>
            </div>
            <div class="card-body">
                {% block auth_body %}{% endblock %}
            </div>
        </div>
    </div>
    {% component_js_dependencies %}
    {% block extra_js %}{% endblock %}
</body>
</html>
