<div class="{{ box_class }}"{{ attrs }}>
    <span class="{{ icon_class }}">
        <i class="{{ icon }}" aria-hidden="true"></i>
    </span>
    <div class="info-box-content">
        {% if text %}<span class="info-box-text">{{ text }}</span>{% endif %}
        {% if title %}<span class="info-box-number">{{ title }}</span>{% endif %}
        {% slot "default" default %}{% endslot %}
        {% if progress is not None %}
            <div class="progress">
                <div class="progress-bar {% if theme %}text-bg-{{ theme }}{% endif %}" style="width: {{ progress }}%"></div>
            </div>
            {% if progress_text %}<span class="progress-description">{{ progress_text }}</span>{% endif %}
        {% endif %}
    </div>
</div>
