{% load static i18n %}
<nav class="app-header {{ adminlte.classes_topnav }} navbar">
    <div class="{{ adminlte.classes_topnav_container }}">
        {# Left side #}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button" aria-label="{% trans 'Toggle sidebar' %}">
                    <i class="bi bi-list"></i>
                </a>
            </li>
            <li class="nav-item d-none d-md-block">
                <a href="/" class="nav-link"><i class="bi bi-grid-1x2 me-1" aria-hidden="true"></i> {% trans 'Home' %}</a>
            </li>
            {% if adminlte.sidebar_docs_url %}
            <li class="nav-item d-none d-md-block">
                <a href="{{ adminlte.sidebar_docs_url }}" class="nav-link" target="_blank" rel="noopener"><i class="bi bi-book me-1" aria-hidden="true"></i> {% trans 'Documentation' %}</a>
            </li>
            {% endif %}
            {% for item in adminlte_menu_navbar_left %}
                <li class="nav-item d-none d-md-block"><a href="{{ item.href|default:'#' }}" class="nav-link">{{ item.text }}</a></li>
            {% endfor %}
        </ul>

        {# Right side #}
        <ul class="navbar-nav ms-auto">
            {% if adminlte.navbar_search %}
            <li class="nav-item">
                <a class="nav-link" data-widget="navbar-search" href="#" role="button" aria-label="{% trans 'Search' %}">
                    <i class="bi bi-search"></i>
                </a>
            </li>
            {% endif %}

            {% if adminlte.navbar_messages %}
                {% include "adminlte/partials/navbar-messages.html" %}
            {% endif %}
            {% if adminlte.navbar_notifications %}
                {% include "adminlte/partials/navbar-notifications.html" %}
            {% endif %}

            <li class="nav-item">
                <a class="nav-link" href="#" data-lte-toggle="fullscreen" aria-label="{% trans 'Toggle fullscreen' %}">
                    <i data-lte-icon="maximize" class="bi bi-arrows-fullscreen"></i>
                    <i data-lte-icon="minimize" class="bi bi-fullscreen-exit d-none"></i>
                </a>
            </li>

            {% if adminlte.language_switcher %}
                {% include "adminlte/partials/language-menu.html" %}
            {% endif %}

            {% if adminlte.color_mode_toggle %}
                {% include "adminlte/partials/color-mode.html" %}
            {% endif %}

            {% if adminlte.usermenu_enabled %}
                {% include "adminlte/partials/usermenu.html" %}
            {% endif %}
        </ul>
    </div>
</nav>
