{% extends "adminlte/auth/auth-master.html" %}
{% load i18n %}
{% block auth_body %}
  {% if validlink %}
    <p class="login-box-msg">{% trans 'Enter your new password.' %}</p>
    <form method="post">{% csrf_token %}
      {% include "adminlte/auth/_form.html" %}
      <button type="submit" class="btn btn-primary w-100">{% trans 'Set new password' %}</button>
    </form>
  {% else %}
    <div class="alert alert-danger" role="alert">{% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new one.' %}</div>
    <a href="{% url 'password_reset' %}" class="btn btn-primary w-100">{% trans 'Request a new reset link' %}</a>
  {% endif %}
{% endblock %}
